includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - phpstan-baseline.dist.neon

parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - config/
        - src/
    excludePaths:
        analyseAndScan:
            - config/reference.php (?)
    parallel:
        maximumNumberOfProcesses: 4
